<!-- jukebox queue begins -->
<br>

<div id="playlist_border">
  <ul id="playlist">


    {{#songs}}
    <li>{{video_title}} ... from (user{{user_id}}) ... video_id:({{video_id}}) ... song_id:({{ id }})<button class="remove" data-id="{{id}}" >x</button><button id="play" data-id="{{video_id}}">></button>
</li>
    {{/songs}}


  </ul>
</div>
<!-- jukebox queue ends -->

<!-- add songs here -->
<br>
<div id="user_add_section">
  <form name="input" action="/songs">
    artist:
    <input type="text" id="artist_field">
    title:
    <input type="text" id="title_field">
    <button id="add_to_queue">Add to Queue</button>
  </form>
</div>
<br><br><br>
<!-- add songs ends -->
