 {{video_title}} ... from (user_{{user_id}}) ... video_id:({{video_id}}) ... song_id:({{ id }})<button class='remove' id='remove_{{id}}' ' data-id='{{id}}'>x</button><button class='play'id="play_{{video_id}}" data-title='{{video_title}}' data-id='{{video_id}}'>></button>
