 <button class="video_name play btn btn-default btn-xs" id="play_{{video_id}}" data-title='{{video_title}}' data-id='{{video_id}}'>{{video_title}}</button> <span id="user_{{user_id}}">(user_{{user_id}})</span> <button class='remove btn btn-default btn-xs' data-id='{{id}}'>x</button>
